* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}

nav {
  display: block;
  position: relative;
  height: 60px;
  width: 100%;
  margin-top: -599px;
}

main {
  background-image: url(img/fondo1.png);
  margin-top: 441px;
  padding-top: 10px;
  width: 1920px;
}

section {
  position: relative;
}

h2 {
  color: white;
  margin-left: 34px;
}

#header-img {
  position: fixed;
  text-align: center;
  margin-top: -600px;
  width: 100%;
}

#calc {
  margin-top: 90px;
  margin-bottom: 90px;
  margin-left: 710px;
  height: 58px;
  width: 479px;
  border: white;
  font-size: 25px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #272727;
  font-weight: bold;
}

#calc:hover {
  background-color: #faba13;
}

.header-menu {
  position: fixed;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.header-menu:hover {
  color: #faba13;
}


.btn-buscar:hover {
  background-color: #faba13;
}

.btn-filtrar {
  margin-top: 132px;
  margin-left: 1467px;
  height: 30px;
  width: 161px;
  border: none;
  font-size: 17px;
  padding-left: 5px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #272727;
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding-top: 2px;
}

.btn-filtrar:hover {
  background-color: #faba13;
}

.btn-ordenar {
  margin-top: -30px;
  margin-left: 1656px;
  height: 30px;
  width: 161px;
  border: white;
  font-size: 17px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #272727;
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding: 2px;
}

.btn-ordenar:hover {
  background-color: #faba13;
}

.cards {
  height: 281px;
  width: 252px;
  background-color: #a4a4a4;
  border-radius: 20px;
  text-align: center;
  padding-top: 10px;
  margin: 65px 64px;
  display: inline-grid;
  justify-content: center;
  font-size: 18px;
}

.cards:hover {
  background-color: #faba13;
}

.imgHouse {
  width: 236px;
  height: 216px;
  border-radius: 10 10 10 10;
}

.covercards {
  height: 434px;
  width: 283px;
  text-align: center;
  background-color: #a4a4a4;
  margin: 46px 91px;
  display: inline-grid;
  justify-content: center;
  font-size: 18px;
  border-radius: 20px;
}

.covercards:hover {
  background-color: #faba13;
}

#funFactnswer {
  width: 848px;
  height: 450px;
  text-align: center;
  background-color: #a4a4a4;
  margin: 46px 512px;
  display: inline-grid;
  justify-content: center;
  font-size: 18px;
  border-radius: 20px;
  padding: 20px;
}

.typeFunFact1 {
  text-align: center;
}

.imgFact1 {
  margin: 38px auto;
  display: block;
  border-radius: 10px;
}

#funFactnswer:hover {
  background-color: #faba13;
}

.bookCover {
  height: 314px;
  margin-left: 35px;
  margin-top: 35px;
}

.factscards {
  width: 848px;
  height: 450px;
  text-align: center;
  background-color: #a4a4a4;
  margin: 46px 47px;
  display: inline-grid;
  justify-content: center;
  font-size: 18px;
  border-radius: 20px;
  padding: 20px;
}

.factscards:hover {
  background-color: #faba13;
}

.imgFact {
  height: 250px;
  margin: auto;
  border-radius: 10px;
}

.btn-filtrar-element {
  border: none;
  background-color: white;
}

#imgPrincipal {
  margin-top: 56px;
  position: relative;
}

#books {
  margin-left: 34px;
  margin-top: 15px;
  font-size: 20px;
}

#spells {
  margin-left: 182px;
  margin-top: 15px;
  font-size: 20px;
}

#potions {
  margin-left: 344px;
  margin-top: 15px;
  font-size: 20px;
}

#funfacts {
  margin-left: 542px;
  margin-top: 15px;
  font-size: 20px;
}

#study-house {
  margin-left: 1193px;
  margin-top: 15px;
  font-size: 20px;
}

#temp-charcters {
  position: relative;
  background-image: url(./img/fondo1.png);
}

@media screen and (min-width: 1366px) and (max-width: 1919px) {
  #imgPrincipal {
    object-fit: cover;
    width: 1349px;
  }

  #header-img {
    position: fixed;
    margin-top: 0px;
    object-fit: cover;
    height: 148px;
    margin-left: -1350px;
  }

  nav {
    position: relative;
    height: 60px;
    width: 100%;
    margin-top: -437px;
  }

  #books {
    margin-left: 211px;
    margin-top: 15px;
    font-size: 18px;
  }

  #spells {
    margin-left: 403px;
    margin-top: 15px;
    font-size: 18px;
  }

  #potions {
    margin-left: 849px;
    margin-top: 15px;
    font-size: 18px;
  }

  #funfacts {
    margin-left: 1020px;
    margin-top: 15px;
    font-size: 18px;
  }

  #study-house {
    margin-left: 826px;
    margin-top: 15px;
    font-size: 18px;
  }


  main {
    background-image: url(img/fondo1.png);
    margin-top: 267px;
    padding-top: 10px;
    width: 1349px;
  }

  .btn-filtrar {
    margin-top: 132px;
    margin-left: 959px;
    height: 30px;
    width: 161px;
    border: none;
    font-size: 15px;
    padding-left: 5px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #272727;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-top: 2px;
  }

  .btn-ordenar {
    margin-top: -30px;
    margin-left: 1152px;
    height: 30px;
    width: 161px;
    border: white;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #272727;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 2px;
  }

  .cards {
    height: 281px;
    width: 252px;
    background-color: #a4a4a4;
    border-radius: 20px;
    text-align: center;
    padding-top: 12px;
    margin: 45px 40px;
    display: inline-grid;
    justify-content: center;
    font-size: 18px;
  }

  .btn-filtrar-element {
    font-size: 15px;
  }

  .covercards:hover {
    background-color: #faba13;
  }

  .covercards {
    height: 406px;
    width: 283px;
    text-align: center;
    background-color: #a4a4a4;
    margin: 42px 24px;
    display: inline-grid;
    justify-content: center;
    font-size: 15px;
    border-radius: 20px;
  }

  .covercards:hover {
    background-color: #faba13;
  }

  .bookCover {
    height: 292px;
    margin-left: 25px;
    margin-top: 35px;
  }

  .factscards {
    width: 596px;
    height: 367px;
    text-align: center;
    background-color: #a4a4a4;
    margin: 61px  38px;
    display: inline-grid;
    justify-content: center;
    font-size: 15px;
    border-radius: 20px;
    padding: 15px;
  }

  #calc {
    margin-top: 34px;
    margin-left: 132px;
    margin: -13px 115px;
    height: 56px;
    width: 537px;
    border: white;
    font-size: 25px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #272727;
    font-weight: bold;
    margin-top: 34px;
    margin-left: 390px
  }

  #calc:hover {
    background-color: #faba13;
  }

  #funFactnswer {
    width: 567px;
    height: 367px;
    text-align: center;
    background-color: #a4a4a4;
    margin: 61px  380px;
    display: inline-grid;
    justify-content: center;
    font-size: 19px;
    border-radius: 20px;
    padding: 15px;
  }

  .imgFact1 {
    margin: 25px auto;
    display: block;
    border-radius: 28px;
    height: 230px;
  }

  .cardsPotions {
    width: 211px;
    height: 454px;
    text-align: center;
    background-color: #a4a4a4;
    margin: 40px 27px;
    display: inline-grid;
    justify-content: center;
    font-size: 13px;
    border-radius: 20px;
    padding: 15px;
  }

  .cardsSpells {
    width: 211px;
    height: 146px;
    background-color: #a4a4a4;
    margin: 40px 27px;
    display: inline-grid;
    justify-content: center;
    font-size: 13px;
    border-radius: 20px;
    padding: 15px;
  }

  #spellsBtnOrdenar {
    margin-top: 0px;
    margin-left: 1152px;
    height: 30px;
    width: 161px;
    border: white;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #272727;
    font-weight: bold;
    display: flex;
    justify-content: center;
  }

  #potionsBtnOrdenar {
    margin-top: 0px;
    margin-left: 1152px;
    height: 30px;
    width: 161px;
    border: white;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #272727;
    font-weight: bold;
    display: flex;
    justify-content: center;
  }
}


@media screen and (min-width: 390px) and (max-width: 1365px) {
  #header-img {
    position: fixed;
    margin-top: 0px;
    object-fit: cover;
    width: 390px;
    height: 91px;
    margin-left: -390px;
  }

  #imgPrincipal {
    margin-top: 32px;
    object-fit: cover;
    width: 390px;
    height: 169px;
  }

  .btn-filtrar {
    margin-top: 0px;
    margin-left: 937px;
    height: 30px;
    width: 161px;
    border: none;
    font-size: 17px;
    padding-left: 5px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #272727;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-top: 2px;
  }

  .btn-ordenar {
    margin-top: -30px;
    margin-left: 1141px;
    height: 30px;
    width: 161px;
    border: white;
    font-size: 17px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #272727;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 2px;
  }

  h2 {
    color: white;
    margin-left: 108px;
    margin-top: 28px;
  }

  main {
    background-image: url(img/fondo390.png);
    margin-top: 89px;
    padding-top: 10px;
    width: 390px;
  }

  .imgCharacter {
    height: 129px;
  }

  .cards {
    height: 186px;
    width: 155px;
    background-color: #a4a4a4;
    border-radius: 20px;
    text-align: center;
    padding-top: 10px;
    margin: 16px 18px;
    display: inline-grid;
    justify-content: center;
    font-size: 12px;
  }

  .btn-filtrar-element {
    font-size: 12px;
  }
}