* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

nav {
  display: block;
  position: relative;
  height: 60px;
  width: 100%;
  margin-top: -599px;
}

main {
  background-image: url(img/fondo1.png);
  margin-top: 441px;
  padding-top: 10px;
  width: 1920px;
}

section {
  position: relative;
}

h2 {
  color: white;
  margin-left: 34px;
}

#header-img {
  position: fixed;
  text-align: center;
  margin-top: -600px;
  width: 100%;
}

#calc {
  margin-top: 90px;
  margin-bottom: 90px;
  margin-left: 710px;
  height: 58px;
  width: 479px;
  border: white;
  font-size: 25px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #272727;
  font-weight: bold;
}

#calc:hover {
  background-color: #faba13;
}

.nav-list {
  display: flex;
  list-style-type: none;
}

#open {
  display: none;
}

#close {
  display: none;
}

.header-menu {
  position: fixed;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.header-menu:hover {
  color: #faba13;
}

.input-buscar {
  margin-top: -44px;
  margin-left: 1474px;
  height: 30px;
  width: 280px;
  border: white;
  font-size: 15px;
  padding-left: 16px;
  border-radius: 10px;
  position: fixed;
  box-shadow: 5px 5px 5px #272727;
}

.btn-buscar {
  margin-top: -44px;
  margin-left: 1728px;
  height: 30px;
  width: 90px;
  border: white;
  font-size: 15px;
  padding-left: 5px;
  border-radius: 10px;
  position: fixed;
  box-shadow: 5px 5px 5px #272727;
  font-weight: bold;
}

.btn-buscar:hover {
  background-color: #faba13;
}

.btn-filtrar {
  margin-top: 132px;
  margin-left: 1467px;
  height: 30px;
  width: 161px;
  border: none;
  font-size: 17px;
  padding-left: 5px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #272727;
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding-top: 2px;
}

.btn-filtrar:hover {
  background-color: #faba13;
}

.btn-ordenar {
  margin-top: -30px;
  margin-left: 1656px;
  height: 30px;
  width: 161px;
  border: white;
  font-size: 17px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #272727;
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding: 2px;
}

.btn-ordenar:hover {
  background-color: #faba13;
}

.cards {
  height: 281px;
  width: 252px;
  background-color: #a4a4a4;
  border-radius: 20px;
  text-align: center;
  padding-top: 10px;
  margin: 65px 64px;
  display: inline-grid;
  justify-content: center;
  font-size: 18px;
}

.cards:hover {
  background-color: #faba13;
}

.imgHouse {
  width: 236px;
  height: 216px;
  border-radius: 10 10 10 10;
}

.covercards {
  height: 434px;
  width: 283px;
  text-align: center;
  background-color: #a4a4a4;
  margin: 46px 91px;
  display: inline-grid;
  justify-content: center;
  font-size: 18px;
  border-radius: 20px;
}

.covercards:hover {
  background-color: #faba13;
}

#funFactnswer {
  width: 848px;
  height: 450px;
  text-align: center;
  background-color: #a4a4a4;
  margin: 46px 512px;
  display: inline-grid;
  justify-content: center;
  font-size: 18px;
  border-radius: 20px;
  padding: 20px;
}
.typeFunFact1 {
  text-align: center;
}

.imgFact1 {
  margin: 38px auto;
  display: block;
  border-radius: 10px;
}

#funFactnswer:hover {
  background-color: #faba13;
}

.bookCover {
  height: 314px;
  margin-left: 35px;
  margin-top: 35px;
}

.factscards {
  width: 848px;
  height: 450px;
  text-align: center;
  background-color: #a4a4a4;
  margin: 46px 47px;
  display: inline-grid;
  justify-content: center;
  font-size: 18px;
  border-radius: 20px;
  padding: 20px;
}

.factscards:hover {
  background-color: #faba13;
}

.imgFact {
  height: 250px;
  margin: auto;
  border-radius: 10px;
}

.btn-filtrar-element {
  border: none;
  background-color: white;
}

#imgPrincipal {
  margin-top: 56px;
  position: relative;
}

#books {
  margin-left: 34px;
  margin-top: 15px;
  font-size: 20px;
  color: white;
}

#spells {
  margin-left: 273px;
  margin-top: 15px;
  font-size: 20px;
  color: white;
}

#potions {
  margin-left: 546px;
  margin-top: 15px;
  font-size: 20px;
  color: white;
}

#funfacts {
  margin-left: 1149px;
  margin-top: 15px;
  font-size: 20px;
  color: white;
}

#temp-charcters {
  position: relative;
  background-image: url(./img/fondo1.png);
}

@media screen and (min-width: 1366px) and (max-width: 1919px) {
  #imgPrincipal {
    object-fit: cover;
    width: 1349px;
  }

  #header-img {
    position: fixed;
    margin-top: 0px;
    object-fit: cover;
    height: 148px;
    margin-left: -1350px;
  }

  nav {
    position: relative;
    height: 60px;
    width: 100%;
    margin-top: -437px;
  }

  #books {
    margin-left: 34px;
    margin-top: 15px;
    font-size: 18px;
  }

  #spells {
    margin-left: 128px;
    margin-top: 15px;
    font-size: 18px;
  }

  #potions {
    margin-left: 250px;
    margin-top: 15px;
    font-size: 18px;
  }

  #funfacts {
    margin-left: 378px;
    margin-top: 15px;
    font-size: 18px;
  }

  #study-house {
    margin-left: 826px;
    margin-top: 15px;
    font-size: 18px;
  }

  .open {
    display: none;
  }

  .input-buscar {
    margin-top: -47px;
    margin-left: 1029px;
    height: 30px;
    width: 285px;
    border: white;
    font-size: 15px;
    padding-left: 16px;
    border-radius: 10px;
    position: fixed;
    box-shadow: 5px 5px 5px #272727;
  }

  main {
    background-image: url(img/fondo1.png);
    margin-top: 267px;
    padding-top: 10px;
    width: 1349px;
  }

  .btn-filtrar {
    margin-top: 132px;
    margin-left: 959px;
    height: 30px;
    width: 161px;
    border: none;
    font-size: 15px;
    padding-left: 5px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #272727;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-top: 2px;
  }

  .btn-ordenar {
    margin-top: -30px;
    margin-left: 1152px;
    height: 30px;
    width: 161px;
    border: white;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #272727;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 2px;
  }

  .cards {
    height: 281px;
    width: 252px;
    background-color: #a4a4a4;
    border-radius: 20px;
    text-align: center;
    padding-top: 12px;
    margin: 45px 40px;
    display: inline-grid;
    justify-content: center;
    font-size: 18px;
  }

  .btn-filtrar-element {
    font-size: 15px;
  }

  .covercards:hover {
    background-color: #faba13;
  }

  .covercards {
    height: 406px;
    width: 283px;
    text-align: center;
    background-color: #a4a4a4;
    margin: 42px 24px;
    display: inline-grid;
    justify-content: center;
    font-size: 15px;
    border-radius: 20px;
  }

  .covercards:hover {
    background-color: #faba13;
  }

  .bookCover {
    height: 292px;
    margin-left: 25px;
    margin-top: 35px;
  }

  .factscards {
    width: 596px;
    height: 367px;
    text-align: center;
    background-color: #a4a4a4;
    margin: 78px 38px;
    display: inline-grid;
    justify-content: center;
    font-size: 15px;
    border-radius: 20px;
    padding: 15px;
  }
  #calc {
    margin-top: 34px;
    margin-left: 132px;
    margin: -13px 115px;
    height: 56px;
    width: 499px;
    border: white;
    font-size: 25px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #272727;
    font-weight: bold;
    margin-top: 34px;
    margin-left: 132px;
  }
  #calc:hover {
    background-color: #faba13;
  }

  #respuestaDatoCurioso {
    background-color: #faba13;
    margin: -13px 115px;
    font-size: 25px;
    padding: 12px;
    border-radius: 10px;
    text-align: center;
    margin-top: -56px;
    margin-left: 708px;
  }
}

@media screen and (min-width: 390px) and (max-width: 1365px) {
  #header-img {
    position: fixed;
    margin-top: 0px;
    object-fit: cover;
    width: 390px;
    height: 91px;
    margin-left: -390px;
  }

  #imgPrincipal {
    margin-top: 30px;
    object-fit: cover;
    width: 390px;
    height: 169px;
  }

  #books {
    display: flexbox;
    margin-left: -348px;
    margin-top: 4px;
    font-size: 18px;
  }

  #spells {
    display: flex;
    margin-left: -349px;
    margin-top: 40px;
    font-size: 18px;
  }

  #potions {
    display: flex;
    margin-left: -349px;
    margin-top: 76px;
    font-size: 18px;
  }

  #funfacts {
    margin-left: -349px;
    margin-top: 111px;
    font-size: 18px;
    display: flex;
  }

  #open {
    display: block;
    position: fixed;
    z-index: 1;
    border: 0;
    background-color: transparent;
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin-left: 340px;
  }

  #close {
    border: 0;
    display: block;
    border: 0;
    background-color: transparent;
    font-size: 18px;
    font-weight: bolder;
    color: white;
  }

  .btn-filtrar {
    margin-top: 131px;
    margin-left: 19px;
    height: 30px;
    width: 161px;
    border: none;
    font-size: 17px;
    padding-left: 5px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #272727;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-top: 2px;
  }

  .btn-ordenar {
    margin-top: -30px;
    margin-left: 196px;
    height: 30px;
    width: 161px;
    border: white;
    font-size: 17px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #272727;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 2px;
  }

  #sections {
    display: none;
    background-color: #5a5c5e;
    height: 200px;
    position: absolute;
    top: 0px;
    padding: 20px;
    align-items: end;
    flex-direction: column;
    margin-top: 0px;
    font-size: 12px;
  }

  a {
    flex-direction: column;
    align-items: end;
  }

  h2 {
    color: white;
    margin-left: 108px;
    margin-top: 28px;
  }

  main {
    background-image: url(img/fondo390.png);
    margin-top: -110px;
    padding-top: 10px;
    width: 390px;
  }

  .imgHouse {
    height: 130px;
    width: 140px;
    border-radius: 10px 10px 0px 0px;
}

  .cards {
    height: 186px;
    width: 155px;
    background-color: #a4a4a4;
    border-radius: 20px;
    text-align: center;
    padding-top: 9px;
    margin: 16px 18px;
    display: inline-grid;
    justify-content: center;
    font-size: 12px;
}

  .btn-filtrar-element {
    font-size: 12px;
  }
}
